
#kudo_compose
    .modal-body
        .rectangle
            .influenceheading
                button(class='close',data-dismiss='modal') x
                span Cast a Kudo
        .triangle-l
        form(action='/kudo/submit',method='post',class='form-horizontal',id='kudo_form')
            .kudo_column#kudo_column_1
                fieldset
                    heading To
                    div(class='control-group')
                        div(class='controls')
                            label(for='to_email',class='control-label') Email:
                            input(type='text',name='to_email')
                    heading From
                    div(class='control-group')
                        div(class='controls')
                            label(for='from_name',class='control-label') Name:
                            input(type='text',name='from_name',value='#{name}')
                    div(class='control-group')
                        div(class='controls')
                            label(for='from_email',class='control-label') Email:
                            input(type='text',name='from_email',value='#{email}')
                    heading Message
                    div(class='control-group')
                        div(class='controls')
                            textarea(name='message')
            .kudo_column#kudo_column_2
                heading Values
                fieldset
                    div(class='control-group')
                        .kudo_tags_column#kudo_tags_column_1
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='leadership')
                                label(for='leadership',class='control-label') Leadership
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='teamwork')
                                label(for='teamwork',class='control-label') Teamwork
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='passion')
                                label(for='passion',class='control-label') Passion
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='craft')
                                label(for='passion',class='control-label') Craftsmanship
                        .kudo_tags_column#kudo_tags_column_2
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='creativity')
                                label(for='leadership',class='control-label') Creativity
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='accountability')
                                label(for='teamwork',class='control-label') Accountability
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='innovation')
                                label(for='passion',class='control-label') Innovation
                            div(class='controls')
                                input(type='checkbox',name='tags[]',value='emotional')
                                label(for='passion',class='control-label') Emotional Intelligence

                heading Visibility
                fieldset
                    div(class='control-group',id='kudo_privacy')
                        div(class='controls')
                            input(type='radio',name='privacy',value='public')
                            label(for='privacy',class='control-label') Public
                        div(class='controls')
                            input(type='radio',name='privacy',value='private')
                            label(for='privacy',class='control-label') Private
                div(id='kudo_submit_box')
                    a(href='#',class='btn',data-dismiss='modal') Close
                    a(href='#',class='btn btn-primary',id='kudo_submit') Cast    
                