!!! 5
html(lang='en')
  head
    title #{title}
    include style/default
  body(style='padding-top: 60px; padding-bottom: 60px;')
    .container
      .row.span6.offset3
        .btn.btn-primary#moredata More Data
      .row#realtime
   .container
      script(type='in/Login')
        You are identified as <?js= firstName ?> <?js= lastName ?>.

  include script/default
  script(src='/socket.io/socket.io.js')
  script
    var socket = io.connect('http://localhost:3000');
    $('#moredata').click(function() {
      socket.emit('getMore', { my: 'data'});
    });
    socket.on('news', function (data) {
      $('#realtime').prepend('<div class="row span12"><p>' +data.kudo.user+ '</p>' + '<p>' +data.kudo.message+ '</p>');
      socket.emit('my other event', { my: 'data' });
    });

