extends layout

block headData


block content
  .container
    .center
      .homeheader(style='font-family: arial; font-size: 160%') Start praising your peers by casting a 
        a(href='',class='kudo_compose') 
          img(src='/img/kudo.png')
        ,
        br
        | the easiest way to recognize their work achievements.
  .row#realtime

  
block afterFooter
  script(src='/socket.io/socket.io.js')
  script
    var socket = io.connect('/');
    socket.on('kudostream', function (data) {
      $('#realtime').prepend('<div class="row span12"><p>'+data+'</p></div>');
    });
