extends layout

block content
  .row#realtime
  
block afterFooter
  script(src='/socket.io/socket.io.js')
  script
    var socket = io.connect('http://localhost:3000');
    socket.on('kudostream', function (data) {
      $('#realtime').prepend('<div class="row span12"><p>' +data.user+ '</p>' + '<p>' +data.message+ '</p>');
    });
