extends layout

block content
<<<<<<< HEAD
  .row
    .span6.offset3
      p Welcome to Recognize.com, where you and your co-workers can Regonize the good work each of you does!
    .span1
      p More Testing
  .row
    .span2.offset8
      p Testing
=======
  .row.well.span6.offset3
    p Welcome to Recognize.com, where you and your co-workers can Regonize the good work each of you does!
>>>>>>> 47a19856ac9a562de4bae89d25e653007144b526
