extends layout

block headData


block content
    br
    .span5.offset3
      .row(style='margin: 0 -10% 0 -10%;')
        .homeheader(style='font-family: arial; font-size: 160%')
          | Start praising your peers by casting a 
          a(href='',class='kudo_compose') 
            img(src='/img/kudo.png')
          | .
          - if (!session._id)
            p The easiest way to recognize their work achievements.
      .row
        .rectanglekudo
          .kudoheading KudoCasts Worldwide
        .triangle-lkudo
        .triangle-r
        .kudobox#realtime
          - for (var i = 0; i < recent.length; i++)
            .row
              .kudopicturespan
                img.picture(src='#{recent[i].photo}', height='60px', width='60px', class='recommender_picture')
              .shoutoutspan(style='margin: 0 10 0 10; padding: 0 0 0 0; height:100%; width:90%')
                .shoutout #{recent[i].content}
            .row(style='margin-left:50px')
              .creator #{recent[i].creator}
              .date Sent #{recent[i].date}

  
block afterFooter
  script(src='/socket.io/socket.io.js')
  script
    var socket = io.connect('/');
    socket.on('kudostream', function (data) {
      $('#realtime').prepend(data);
    });
