!!! 5
html(lang='en')
  head
    title #{title}
    include style/default
    block headData
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33388759-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(style='padding-top: 60px; padding-bottom: 60px;')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/',style='padding: 0 0 0 0') 
            img(src='/img/kudocast.png')
          .nav-collapse
            ul.nav.pull-left
              li
                a(href='/') Home
              li
                a(href='',class='kudo_compose') Cast a kudo
            ul.nav.pull-right
              - if (typeof session._id !== 'undefined')
                li
                  a(href='/profile/#{session._id}') #{session.user}
                li
                  a(href='/signout') Sign out
              - else
                li
                  a(href='/signin') Sign in
                li
                  a(href='/signup') Sign up
    .container
    .container
      block content
  include script/default
  block afterFooter
  .modal.hide#modal_container
