!!! 5
html(lang='en')
  head
    title #{title}
    include style/default
    block headData
  body(style='padding-top: 60px; padding-bottom: 60px;')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') 
            i.icon-briefcase.icon-white
            |Recognize
          .nav-collapse
            ul.nav.pull-left
              li.active
                a(href='/nav') Nav Item
            ul.nav.pull-right
              - if (typeof session._id !== 'undefined')
                li
                  a(href='/profile/#{session._id}') #{session.user}
                li
                  a(href='/signout') Sign out
              - else
                li
                  a(href='/signin') Sign in
                li
                  a(href='/signup') Sign up
                
    .container
      block content
    .container
      script(type='in/Login')
        | You are identified as <?js= firstName ?> <?js= lastName ?>.
  include script/default
  block afterFooter