.rectangle-login {
 background: #555555;
 height: 50px;
 width: 107%;
 position: relative;
 left:-15px;
 top: 30px;
 margin-bottom: 15%;
 float: left;
 -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 z-index: 100; /* the stack order: foreground */
}

.triangle-llogin {
 border-color: transparent #7d90a3 transparent transparent;
 border-style:solid;
 border-width:15px;
 height:0px;
 width:0px;
 position: relative;
 left: -6.5%;
 top: 65px;
 z-index: -1; /* displayed under bubble */
}

.triangle-rlogin {
 border-color: transparent transparent transparent #7d90a3;
 border-style:solid;
 border-width:15px;
 height:0px;
 width:0px;
 position: relative;
 left: 100%;
 top: 35px;
 z-index: -1; /* displayed under bubble */
}

.signinbox {
  padding: 20px;
  margin-top: 20px;
  -moz-box-shadow: 0px 3px 3px #888888;
  -webkit-box-shadow: 0px 3px 3px #888888;
  box-shadow: 5px 5px 5px #888888;
  background-color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.form {
  margin-left: 30px;
  overflow: hidden;
}

.logintext {
  font-size: 140%;
  font-family: 'Squada One';
}

.loginhint {
  font-size: 120%;
  font-family: 'Squada One';
  color: #88888a;
}