.picture {
  border: 1px solid white;
  margin-bottom: 10px;
  margin-top: -5px;
  -moz-box-shadow: 0px 3px 3px #888888;
  -webkit-box-shadow: 0px 3px 3px #888888;
  box-shadow:3px 3px 3px #888888;
}

.recommender_picture {
  border: 1px solid white;
  margin-bottom: 10px;
  margin-top: -5px;
  -mox-box-shadow: 0px 3px 3px #888888;
  -webkit-box-shadow: 0px 3px 3px #888888;
  box-shadow:3px 3px 3px #888888;
}

.profiletext {
  font-size: 130%;
  font-family: 'Squada One';
  color: #88888a;
  margin-bottom: 1%;
  padding-left: 20px;
}

heading {
  font-family: 'Squada One';
  padding-bottom: 0px;
  font-size: 170%;
  padding-left: 10%;
}

.nameheading {
  font-family: 'Squada One';
  font-size: 180%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.influenceheading {
  font-family: 'Squada One';
  font-size: 210%;
  margin-top: 3%;
  margin-left: 3%;
  color: #F0FF00;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.profilebox {
  padding: 25px;
  margin-top: 20px;
  -moz-box-shadow: 0px 3px 3px #888888;
  -webkit-box-shadow: 0px 3px 3px #888888;
  box-shadow: 5px 5px 5px #888888;
  background-color: white;
}

.influencebox {
  padding: 15px;
  margin-top: 20px;
  height: 120px;
  -moz-box-shadow: 0px 3px 3px #888888;
  -webkit-box-shadow: 0px 3px 3px #888888;
  box-shadow:5px 5px 5px #888888;
  background-color: white;
}

.kudobox {
  padding: 15px;
  height: 100%;
  -moz-box-shadow: 0px 3px 3px #888888;
  -webkit-box-shadow: 0px 3px 3px #888888;
  box-shadow:2px 2px 2px #888888;
  background-color: white;
  margin-top: -30px;
  width: 88%;
  margin-left: 3%;
}

.span5 {
   margin-top: 0%;
}

.kudoheading {
  font-family: 'Squada One';
  font-size: 215%;
  margin-top: 0%;
  padding-top: 3%;
  margin-left: 3%;
  color: #333333;
  text-shadow: black 0.05em 0.05em 0.05em;
  text-align: center;
}

.map {
  margin-left: 30%;
  margin-top: 30px;
}

.cast {
  margin-left: 5px;
}

.picturespan {
  width: 30%;
  padding-top: 5px;
}

.kudopicturespan {
  width: 40%
  padding-left: -20px;
}

.span2 {
  margin-left: -20px;
}

.profiletextspan {
  width: 60%;
  margin-left: 0; 
}

.kudos {
  padding-left: 40px;
  margin-top: -10px;
}

.kudostotal {
  font-family: 'Squada One';
  margin-top: 15%;
  margin-left: 38%;
  font-size: 120%;
}

.ratingtext {
  padding-top: 15%;
  font-family: 'Squada One';
  font-size: 600%;
  color: black;
  text-align: center;
  padding-left: 10%;
}

.strengthspan {
  width: 40%;
  margin-left: 10%;
}

.rectangle {
 background: #555555;
 height: 50px;
 position: relative;
 width: 104%;
 left:-15px;
 top: 30px;
 margin-bottom: 15%;
 float: left;
 -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 z-index: 100; /* the stack order: foreground */
}


.rectanglekudo {
 background: #F0FF00;
 height: 50px;
 width: 100%;
 position: relative;
 top: 30px;
 -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 z-index: 100; /* the stack order: foreground */
}

.shoutout {
  -moz-box-shadow: 0px 0px 0px white;
  -webkit-box-shadow: 0px 0px 0px white;
  box-shadow: 0px 0px 0px white; 
  border: 1px dashed #88888A;
  margin-left: 3%;
  padding: 2%;
  width: 75%;
  margin-top: -15%;
  margin-left: 20%;
  height: 200%; 
  margin-bottom: 5%;
}

.kudorow {
  margin-left: -8%;
  margin-bottom: 15px;
  
}

.date {
  color: #0C72C8;
  font-size: 80%;
  margin-left: 83%;
  margin-top: -3%;
  padding-bottom: 5%;
}


.creator {
  font-family: 'Squada One';
  font-size: 100%;
  margin-top: -4%;
  margin-left: 9%;
}

.triangle-l {
 border-color: transparent #7d90a3 transparent transparent;
 border-style:solid;
 border-width:15px;
 height:0px;
 width:0px;
 position: relative;
 top: 65px;
 left: -8%;
 z-index: -1; /* displayed under bubble */
}

.triangle-lkudo {
 border-color: transparent #F0FF00 transparent transparent;
 border-style:solid;
 border-width:15px;
 height:0px;
 width:0px;
 position: relative;
 top: 18px;
 left: -3%;
 z-index: -1; /* displayed under bubble */
} 

.triangle-r {
 border-color: transparent transparent transparent #F0FF00;
 border-style:solid;
 border-width:15px;
 height:0px;
 width:0px;
 position: relative;
 left: 97%;
 top: -10px;
 z-index: -1; /* displayed under bubble */
}

