extends ../layout

block content
  .row.well.span6.offset3
    h2 Sign in
    br
    form(action='/signin',method='post',class='form-horizontal')
      fieldset
        div(class='control-group')
          label(for='email',class='control-label') Email
          div(class='controls')
            input(type='text',name='name',value='Meeeee')
        div(class='control-group')
          label(for='password',class='control-label') Password
          div(class='controls')
            input(type='password',name='password')
        div(class='form-actions')
          input(type='submit',name='submit',value='Sign in')
  .row.well.span6.offset3
    h2 Sign up
    br
    form(action='/signup',method='post',class='form-horizontal')
      fieldset
        div(class='control-group')
          label(for='firstname',class='control-label') First name
          div(class='controls')
            input(type='text',name='firstname')
        div(class='control-group')
          label(for='lastname',class='control-label') Last name
          div(class='controls')
            input(type='text',name='lastname')
        div(class='control-group')
          label(for='email',class='control-label') Email
          div(class='controls')
            input(type='text',name='email')
        div(class='control-group')
          label(for='password',class='control-label') Password
          div(class='controls')
            input(type='password',name='password')
        div(class='control-group')
          label(for='password2',class='control-label') Confirm password
          div(class='controls')
            input(type='password',name='password2')
        div(class='form-actions')
          input(type='submit',name='submit',value='Sign up')
