script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/js/bootstrap.js')
script(src='/js/jquery.backstretch.js')
script
  $.backstretch('/bg/bg.png');
script(src='//platform.linkedin.com/in.js')
        api_key: rxms8kasgmvh
        authorize: true
